 <%= form_for @blab, html: { multipart: true } do |f| %>
  <% if @blab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blab.errors.count, "error") %> prohibited this blab from being saved:</h2>

      <ul>
      <% @blab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.collection_select :category_id , Category.all, :id, :name, {prompt: "Choose a category"} %><br>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
