<p id="notice"><%= notice %></p>

<%= image_tag @blab.image.url(:large) %>

<p>
  <strong>Title:</strong>
  <%= @blab.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blab.body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @blab.url %>
</p>

<p>
  <strong>Published by:</strong>
  <%= @blab.user.email %>
</p>

<h3 class="comments_title">
  <%= @blab.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @blab.comments %>
</div>
<%= simple_form_for [@blab, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>