<!DOCTYPE html>
<html>
<head>
  <title>Blabber</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- renders the code for the navbar bootstrap saved in the _header file / cleans up application page by sepeating content-->
  <%= render 'layouts/header' %>
  
  
  <div id="main_content" class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <!-- Wrapping of yield which imports the index into the application template -->
    <!-- Bootstrap column 9 block is centered -->
    <div id="content" class="col-md-9 center-block">
      <%= yield %>
    </div>
  </div>
  
  
</body>
</html>
